#contents { position:relative; }

/* 장바구니 토글 */
.xans-order-basketpackage .ec-base-fold { margin:14px 0 0; }
.xans-order-basketpackage .ec-base-fold.theme1 > .title { margin-bottom:0; }
.xans-order-basketpackage .ec-base-fold.theme1 > .contents { background:none; }
.xans-order-basketpackage .ec-base-fold.theme3 { margin-top:0; border-width:0 0 1px; }

/* 국내배송/해외배송 탭 */
.xans-order-basketpackage .ec-base-tab { margin:0 -7px; }

/* 상품정보 */
.xans-order-basketpackage { margin:7px 7px 0; padding:0 0 29px; }
.xans-order-basketpackage .xans-order-empty { padding:30px 0; color:#212530; font-size:14px; text-align:center; }
.xans-order-basketpackage .title.subTitle { display:block; padding:0; }
.xans-order-basketpackage .title.subTitle:after { display:none; }
.xans-order-basketpackage .title.subTitle h3 { display:block; padding:0 0 0 14px; line-height:43px; font-size:14px; border-top: 1px solid #ddd; border-bottom:1px solid #eee; color:#222; background-color:#fcfcfc; }

/* 옵션변경 레이어 */
.xans-order-basketpackage .ec-base-fold.theme3 > .title h3 { font-weight: 400; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo { padding-bottom:0; border-bottom:1px solid #d5d5d5; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li { position:relative; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .name { display:block; padding:14px 100px 0 0; } /* flex �댁젣 */
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .option > li .btnBasic { position:absolute; right:0; top:14px; }
.xans-order-basketpackage .ec-base-fold .ec-base-prdInfo .prdFoot { margin:0; padding:14px 0 7px; border-top:1px solid #ececec; font-weight:normal; color: #1b1b1b; background:#fff; }

/* 배송비/합계 금액 */
.xans-order-basketpackage .ec-base-fold.theme3 > .title:after { content: none; }
.xans-order-basketpackage .ec-base-fold.theme3 span.sale { font-size:13px; }
.xans-order-basketpackage .ec-base-fold.theme3 span { font-size:11px; }

/* 선택상품 제어버튼 */
.xans-order-selectorder.ec-base-button.typeMulti { padding:7px 14px; }

/* 전체 상품중량*/
.xans-order-basketpackage .xans-order-weight .totalWeight{text-align: right; padding: 14px; font-size: 13px; border-bottom: 1px solid #d5d5d5;}
.xans-order-basketpackage .xans-order-weight .totalWeight span{display: inline-block;min-width: 50px;}

/* 결제금액 관련 */
.xans-order-basketpackage .totalSummary,
.xans-order-basketpackage .totalMileage { margin:0px 0 0; }
.xans-order-basketpackage .totalSummary  + .ec-base-fold.theme1 { margin-top:7px; }
.xans-order-basketpackage .totalSummary .ec-base-fold.theme2 { margin:0; border:0; }
.xans-order-basketpackage .ec-base-fold.theme2 > .contents .ec-base-table td { padding-right:34px; }
.xans-order-basketpackage .totalSummary .ec-base-fold > .contents .ec-base-table { border:1px solid #d5d5d5; border-width:0 1px 1px; }
.xans-order-basketpackage .totalSummary .total,
.xans-order-basketpackage .totalMileage .total { overflow:hidden; padding:14px 0 14px 14px; font-size:22px; font-weight:400; color:#222; background-color:#fcfcfc; border: 1px solid #ddd; border-width: 1px 0;}
.xans-order-basketpackage .totalSummary .paymentPrice { float:right; padding:0 36px 0 0; text-align:right; }
.xans-order-basketpackage .totalMileage .numMileage { float:right; padding:0 36px 0 0; text-align:right; }
.xans-order-basketpackage .totalSummary .paymentPrice strong,
.xans-order-basketpackage .totalSummary .paymentPrice span,
.xans-order-basketpackage .totalMileage .numMileage strong,
.xans-order-basketpackage .totalMileage .numMileage span { display:inline-block; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title,
.xans-order-basketpackage .totalMileage .title { overflow:hidden; padding:14px 34px 14px 14px; border:1px solid #ddd; border-top:0; background-color:#fafafa; }
.xans-order-basketpackage .totalSummary .title h3,
.xans-order-basketpackage .totalMileage .title h3 { float:left; font-size:13px; font-weight:normal; color:#222; }
.xans-order-basketpackage .totalSummary .title span,
.xans-order-basketpackage .totalMileage .title span { word-break:break-all; }
.xans-order-basketpackage .totalSummary .title p,
.xans-order-basketpackage .totalSummary .title.shipping > div,
.xans-order-basketpackage .totalMileage .title p{ float:right; font-size:15px; color:#000; text-align:right; }
.xans-order-basketpackage .totalSummary .title p .refer,
.xans-order-basketpackage .totalSummary .title div .refer { display:inline-block; font-size:12px; word-break:break-all; }
.xans-order-basketpackage .totalSummary .title:after { content:""; display:block; clear:both; }
.xans-order-basketpackage .totalSummary .title.shipping { overflow:visible; }
.xans-order-basketpackage .totalSummary .title .shippingArea { margin:7px 0 0; font-size:12px; }
.xans-order-basketpackage .totalSummary .shippingFee .title { padding:0 20px 0 0; border:0; background:#fff; }
.xans-order-basketpackage .totalSummary p.info { float: none; padding: 8px 0 8px 33px; border-bottom: 1px solid #e8e5e4; color: #757575; line-height: 1.5; font-size: 12px; background: url(//img.echosting.cafe24.com/skin/base/common/ico_info.gif) no-repeat 9px 12px; }

#NaverChk_Button { margin:14px 0 0; text-align:center; }

/* App payment button box */
#appPaymentButtonBox { max-width:600px; margin:14px auto 0; text-align:center; }
#appPaymentButtonBox > div { margin:0 0 7px 0; }
#appPaymentButtonBox > div:last-of-type { margin-bottom:0; }

/* 주문 버튼 */
.xans-order-basketpackage .btnEm { padding:15px 8px; }


.xans-order-basketpackage .ec-base-button { text-align:right; }
.xans-order-basketpackage .ec-base-help { font-size:12px; }


/* 옵션수량버튼 */
.xans-order-basketpackage .ec-base-qty { width:100%; }
.xans-order-basketpackage .ec-base-qty [type="tel"] { width:49px; margin-left:36px; }
.xans-order-basketpackage .ec-base-qty .qtyDown { left:0; }
.xans-order-basketpackage .ec-base-qty .qtyUp { position:relative; left:0; }
.xans-order-basketpackage input[type=text], .xans-order-basketpackage input[type=password], .xans-order-basketpackage input[type=number], .xans-order-basketpackage input[type=tel], textarea {
    padding:10px; font-size:12px; line-height:13px; font-weight:inherit; color:#353535; border:1px solid #d7d5d5; border-radius:2px; outline-style:none;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.xans-order-basketpackage input[type=text], .xans-order-basketpackage input[type=password], .xans-order-basketpackage input[type=number], input[type=tel] { height:29px; }
