.xans-myshop-wishlistbutton { padding:0 7px 7px; }
.xans-myshop-wishlistbutton .select { margin:0 0 14px; padding:7px 14px; border:1px solid #ddd; border-top:0; }
.xans-myshop-wishlistbutton .select .gRight { float:right; }

.xans-myshop-wishlistbutton .ec-base-button .btnSubmit { padding:16px 24px; }