.xans-product-basketadd { position:fixed; top:50%; left:50%; z-index:1000; max-width:450px; width: 96%; transform: translate(-50%, -50%); }
.xans-product-basketadd .content { padding:185px 20px 65px; text-align:center; background:url("/web/upload/goodymall/kr/layout/bg_addcart.png") no-repeat 50% 68px; }
.xans-product-basketadd .content p { font-weight:400; color:#222; font-size: 13px; }
