<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- 웹아이콘 -->
    <!--link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"-->
    <link rel="stylesheet" href="/web/upload/goodymall/css/xeiconmin.css">

    <!-- 파비콘 ico 
    <link rel="shortcut icon" href="/web/upload/favicon/favicon.ico"> -->
    
    <!-- 홈페이지 사용 폰트:: 대부분 구글 웹 폰트를 사용합니다  -->
    <link rel="preconnect" href="//fonts.googleapis.com">
	<link href="//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <title>기본 레이아웃</title>
    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@js(/layout/basic/js/basic.js)-->
</head>
<body>
<!--@contents-->
</body>
</html>
